[credentials]
#Cloudflare Username
cloudflare username = <username/email>

#Api key from cloudflare for your account
cloudflare api key = <cloudflare api key>

[domain information]
#The domain name to change
domain name = <domain name> 

#the subdomain to change
sub domain = <sub domain>

#do you want to be able to use ssh
use ssh = <True or False>
